**/output*/
*.log
*.png
*.pdf
/test_data_imporatant/
host/benchmarks/scripts/plot/__pycache__/
*.o
*.lo
**/.libs/
host/benchmarks/scripts/process_data/**
!/host/benchmarks/scripts/process_data/
!/host/benchmarks/scripts/process_data/**/*.py
!/host/benchmarks/scripts/process_data/*.py
/host/benchmarks/scripts/draw-xie/data-to-draw/**
/host/benchmarks/scripts/draw-xie/figs/**/*.txt
/host/benchmarks/scripts/draw-xie/**/*.txt
/host/benchmarks/scripts/TOSTUDY/**/*.txt